/*body {
    background-color: black;
    color:  rgb(169, 248, 222)
}*/

header {
    background-color: rgb(169, 248, 222);
    color: black;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

#toad {
    margin-right: auto;
}

h1 {
    margin-right:auto;
}


li {
    list-style: none;
    display:flex;
    display:inline-flex;
    justify-content:flex-end;
    font-size:2rem;


}
.container {
    position: relative;
    text-align: center;
    color: rgb(65, 156, 60);
}

.title {
    position: absolute;
    bottom: 50%;
    left: 10%;
    font-size:xx-large;
    background-color: black;    
}