/*body {
    background-color: black;
    color:  rgb(169, 248, 222)
}*/

header {
    background-color: rgb(169, 248, 222);
    color: black;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

#toad {
    margin-right: auto;
}

h1 {
    margin-right:auto;
}


.Nav {
    list-style: none;
    display:flex;
    display:inline-flex;
    justify-content:flex-end;
    font-size:2rem;
}

li {
    margin-left:2rem;
    margin-right:1rem;
}

#about-me {
    display:flex;
    flex-wrap:wrap;

    
}

#work {
    display:flex;
    flex-wrap:wrap;
}
.container {
    position: relative;
    text-align: center;
    color: rgb(65, 156, 60);
    width:280px;
}

.title {
    position: absolute;
    bottom: 50%;
    left: 10%;
    font-size:xx-large;
    background-color: black;    
}