header {
    background-color: rgb(169, 248, 222);
    color: black;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    align-items:center;
    justify-content:space-between
}

h1 {
    margin-right:auto;
    font-size:4rem;
}

h2 {
    font-size:2rem;
}


.Nav {
    list-style: none;
    display:flex;
    display:inline-flex;
    justify-content:flex-end;
    font-size:2rem;
}

li {
    margin-left:2rem;
    margin-right:1rem;
}

#about-me {
    display:flex;
    flex-wrap:wrap;
}

p {
    margin-left:2rem;
}

#work {
    display:flex;
    flex-wrap:wrap;
}

aside {
    background-color: white;
    color:black;
    margin-right:2rem;
    width:20%;
    
}
.container {
    position: center;
    text-align: center;
    flex:1;
    border-style:double;

}

.title {
    position: absolute;
    bottom: 50%;
    left: 10%;
    font-size:xx-large;
    background-color: black;    
}

#contact-me {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}

#contact-info {
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    font-size:xx-large;
}

.info {
    margin-left:15rem;
    margin-right:2rem;
}

@media screen and (max-width:768px) {
    #work, .Nav, header, #about-me, #contact-me {
        flex-direction:column
    }

}